.App {
  text-align: center;
  /* background: #f3e5f5; */
  background: url("./hal-gatewood-tZc3vjPCk-Q-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-bottom: 30px;
  height: 100vh;
  overflow-y: scroll;
}

@media (max-width: 574px) {
  .form-inline {
    margin-left: 15px;
    margin-right: 15px;
  }
  .addBtn {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  .form-control {
    width: 250px;
    margin-left: 25px;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .App {
    font-size: 20px;
  }
}

.App form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

#bootstrap-overrides .form-group {
  margin-bottom: 0;
}

.App h1 {
  padding-top: 20px;
  color: #7b1fa2;
  /* color: red; */
}

.todo-input {
  margin-right: 30px;
}

.todo-wrapper {
  margin-top: 40px;
}

.addBtn {
  background-color: #ae52d4;
  border-color: transparent;
  padding: 9px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.addBtn:disabled {
  background: #ddd;
  box-shadow: none;
  color: gray;
}

.addBtn:focus {
  outline: none;
}

.scaleIn-enter {
  transform: scale(0);
}

.scaleIn-enter-active {
  transform: scale(1);
  transition: all 400ms;
}

.scaleIn-exit {
  transform: scale(1);
}

.scaleIn-exit-active {
  transform: scale(0);
  transition: all 400ms;
}
