.todo {
  /* border: 1px solid; */
  width: 350px;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 5px;
  /* animation: todo-slide-in 0.3s; */
  color: white;
  background-color: #ae52d4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media (max-width: 574px) {
  .todo {
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.todo-out {
  animation: todo-slide-out 0.3s;
}

.todo-span {
  overflow-wrap: break-word;
  width: 250px;
  text-align: left;
}

.deleteBtn {
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  /* margin-left: 30px; */
  color: white;
  background-image: url("./trash.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.deleteBtn:active,
.deleteBtn:focus {
  border: none;
  outline: none;
}

/* @keyframes todo-slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  @keyframes todo-slide-out {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  } */
